<center><h1>About the Owner</h1><center>
	
<p>This is all about me...Mi nombre es <%= @name %></p>

<p>Today is <%= Date.today %>.  Have a great day!</p>

<p>Tomorrow is <%= Date.today + 1 %>. See you then!</p>

<h2><%= @message %></h2>