#content {
  width: 600px;
  background: #fff;
  border: 2px solid fuchsia;
  padding: 20px; /* Adds 20px of space to all sides */
  margin: 20px auto; /* Adds 20px to the top & bottom & centers left/right */
}

.crazy-color {
  color: fuchsia;
}

body {
	background-image: url(../images/background.jpg);
}

img{
  width: 100px;
  float: left;
  margin-right:10px;
}

#footer {
  height: 20px;
  width: 600px;
  margin: auto;
  background: #336699;
  color: #fff;
  border: 10px solid yellow;
  padding: 20px;
}